.dark-theme{
    
    color: rgb(106, 40, 40);

    
    /* background-image:  url("https://i.ibb.co/qWkn1sC/blurry-gradient-haikei-2.png"); */
    background-image:  url("https://i.ibb.co/4gxWTDp/pexels-johannes-plenio-1103970.jpg");
    background-repeat: no-repeat;
    background-size: cover;


  }